<div class="flex-centralize banner">
    <div class="content">
        <h1 class="dd-h1">THE GOAL-GETTER<br>NETWORK</h1>
        <p class="dd-p">
            Here is a community of intentional people who want to win in life by mentorship, personal commitment and group accountability, drawing strength by inspiration from others on the same journey to significance and meaning.
        </p>
    </div>
    <button type="button" class="dd-btn-outline" (click)="openWebsite()">Join Network</button>
</div>