<div class="flex-centralized page-padding-top">
  <!-- <div class="section-grid inner-section">
    <div class="section-grid">
      <div class="section-paragraph">
        <h1>Our Blog</h1>
        <h2>Stories and Insights</h2>
        <p>
          Learn about new product features, the latest in technology, solutions,
          and updates.
        </p>
      </div>
      <form class="email-container" #newsLetterForm="ngForm">
        <div class="input-field">
          <div class="field">
            <input type="text" placeholder="Enter your email" />
          </div>
        </div>
        <div class="button">
          <button>
            <p>Subscribe</p>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="gap inner-section">
    <app-recent-blog></app-recent-blog>
    <app-blog-list></app-blog-list>
  </div> -->

  <div class="inner-section">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
    #icon1
      src="https://cdn.lordicon.com/jeycryzx.json"
      trigger="loop"
      colors="primary:#121331,secondary:#27ade4"
      style="width: 10rem; height: 14rem"
    >
    </lord-icon>
    <lord-icon
    #icon2
      src="https://cdn.lordicon.com/qvyppzqz.json"
      trigger="loop"
      state="loop-oscillate"
      colors="primary:#121331,secondary:#27ade4"
      style="width: 10rem; height: 14rem"
    >
    </lord-icon>
    <lord-icon
    #icon3
      src="https://cdn.lordicon.com/wuvorxbv.json"
      trigger="loop"
      colors="primary:#121331,secondary:#27ade4"
      style="width: 10rem; height: 14rem"
    >
    </lord-icon>
    <h1 class="mia-h1">Coming Soon</h1>
  </div>
</div>
