
@import '/src/app/forms/forms.scss';
@import '/src/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.select-box {
    font-weight: 300 !important;
    font-size: 1rem !important;
    padding-left: 1rem;
    color: $dd-floral-white !important;

    border-radius: 8px !important;
    background: white;
    // border:  !important;
    // box-shadow: $box-shadow !important;
}

option {
    color: #8f7878;
}

.selected {
    opacity: -0.5;
}