@import '/src/styles.scss';

.spacing {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 0;
    &.top { padding-top: 1.5rem; }
}

.about-header,
.about-paragraph {
    margin: 0;
}

.about-header {
    font-family: $dd-font-family;
    font-weight: 700;
    font-size: 8rem;
    line-height: 10.4rem;
    color: $dd-red;
    text-align: center;
    margin: 0;
}

.about-item {
    display: grid;
    width: 100%;
    column-gap: 2.8rem;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;

    // swap columns
    &.img-left {
        > *:first-child { grid-column: 2; }
        > *:last-child { grid-column: 1; }
    }
}

.about-paragraph {
    font-family: $dd-font-family;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $dd-black;
    margin-top: -2rem;
}

.about-img {
    max-width: 100%;
    object-fit: contain;
}

.bottom-sections {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}


/*-------------------MEDIA QUERIES-------------------*/
@media screen and (max-width: $tablet-width) {
    .about-header {
        font-size: 6rem;
        line-height: 7.8rem;
    }
}

@media screen and (max-width: $mobile-width) {
    .about-header {
        font-size: 4rem;
        line-height: 5.2rem;
        word-wrap:break-word;
        word-break: break-word; // fallback for older browsers
    }

    .about-item {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }

    .about-paragraph {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 0;
    }
}