$oryx-font: "Work Sans", sans-serif;

$oryx-neutral-100: #0a0a0a;
$oryx-neutral-80: #616161;
$oryx-neutral-50: #c2c2c2;
$oryx-neutral-20: #f5f5f5;
$oryx-neutral-10: #ffffff;

$oryx-primary-pressed: #002159;
$oryx-primary-main: #03449e;
$oryx-primary-hover: #2186eb;
$oryx-secondary-main: #da2625;

$min-tablet-width: 768px;

main {
  display: none;

  font-family: $oryx-font;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 97;

  .flex-centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .white-bar {
    width: 100%;
    background-color: $oryx-neutral-10;
    padding: 1rem 0rem;

    .white-grid {
      display: flex;
      align-items: center;
      grid-template-rows: 3rem;
      grid-template-columns: 80px 48px;
      justify-content: space-between;
    }

    .logo {
      align-self: center;
      img {
        height: 2.5rem;
      }
    }

    .nav-buttons {
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
        padding: 0;
        margin: 0;
      }
    }

    .navbar-toggler {
      align-self: center;
      height: 48px;
      border: none;
      border-radius: 4px;
      background-color: $oryx-neutral-20;
    }
  }

  .navbar-collapse {
    margin: 0;
    height: 0;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    background-color: $oryx-neutral-10;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.open {
      opacity: 1;
      height: auto;
    }
  }

  .navbar-nav {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);

    margin: 0;
    transform: translateX(-10%); // to properly centralize it

    .nav-item {
      list-style: none;
      text-align: center;
      padding: 1rem 0rem;
    }

    .nav-link {
      font-weight: 500;
      font-size: 1rem;
      color: $oryx-neutral-80;
      text-decoration: none;
    }

    .active-link {
      font-weight: 500;
      color: $oryx-secondary-main;
    }
  }
  .nav-item {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
  }

  .nav-link {
    font-weight: 300;
    font-size: 1rem;
    color: $oryx-neutral-80;
    text-decoration: none;

    &:hover {
      color: $oryx-secondary-main;
    }
  }

  .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &.open {
      max-height: 10rem; /* Adjust the max-height based on your content */
      position: absolute;
      top: 3rem;
      width: 8rem;
      left: -0.5rem;
      background-color: #fff;
    }
  }

  .dropdown-item {
    display: block;
    padding: 0.313rem 0.625rem;
    color: $oryx-neutral-80;
    text-decoration: none;
    &:hover {
      background-color: #f1f1f1;
    }
  }

  .select-language {
    display: flex;
    gap: 8px;
    // padding: 0.5rem 0 0.5rem 0;

    align-items: center;
    justify-content: end;
    text-align: center;

    // svg path {
    //   fill: $oryx-secondary-main;
    // }

    .image-container {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      padding: 0 0.5rem 0 0;

      font-weight: 300;
      font-size: 16px;
      line-height: 24px;

      font-family: $oryx-font;

      img {
        border-radius: 5rem;
      }
    }
  }

  // .blue-bar {
  //     font-weight: 400;
  //     font-size: 0.875rem;
  //     color: $oryx-neutral-10;
  //     background-color: $oryx-primary-pressed;

  //     width: 100%;
  //     margin-top: 1rem;
  //     padding: 0.5rem 0rem;

  //     .blue-grid {
  //         display: grid;
  //         row-gap: 1rem;
  //         width: 90%;
  //     }

  //     .contact-grid {
  //         display: grid;
  //         column-gap: 1rem;
  //         grid-template-columns: 32px auto;
  //         svg { margin-top: 6px; }
  //         p {
  //             font-weight: 300;
  //             font-size: 1rem;
  //         }
  //     }
  // }
}

/************** MOBILE VIEW ***************/
@media (max-width: $min-tablet-width) {
  main {
    display: flex;
  }
}
