<div class="content-padding">
    <div class="text-grid">
        <div class="mia-h1">
            Empowering Your Business Success
        </div>
        <p class="mia-p">
            MIA Business Solutions - Your Trusted Partner for Comprehensive Business Solutions and Consultancy Services
        </p>
    </div>
    <div class="btn-container">
        <button class="mia-btn-fill" (click)="navigateToServicePage()">
            Explore Services
        </button>
        <button class="mia-btn-outline" (click)="openDialog()">
            Request for a Demo
        </button>
    </div>
</div>