@import "/src/styles.scss";

.page-padding-top {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.inner-section {
    display: flex;
    flex-direction: column;
    width: 90.5%;
    gap: 5rem;
}


@media screen and (max-width: $tablet-width) {
    .inner-section{
        width: 90.5%;
        margin-left: 6.5%;
    }
}

@media screen and (max-width: $mobile-width) {
    .page-padding-top {
        padding-top: 6.25rem;
    }
    .inner-section {
        width: 95%;
        margin-left: 2.6%;
    }
}