<div class="inner-section" *ngIf="blogList$ | async as blogList">
  <div class="blog-contents">
    <h1 class="title">Recent blog posts</h1>
    <div class="frame-2-grid">
      <div
        class="recent-blog-post-card"
        *ngFor="let blogPost of recentBlogPosts"
      >
        <img [src]="'https:' + blogPost['imgUrl']" alt="" />
        <div class="blog-content-text">
          <div class="heading-and-text">
            <h1 class="author">
              {{ blogPost.author }} •
              {{ blogPost.date | date : "dd MMM yyyy" }}
            </h1>
            <a class="heading" [routerLink]="[blogPost['id']]">{{
              blogPost["title"]
            }}</a>
            <p class="article">{{ blogPost.preview }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
