<!-- <app-loader *ngIf="!(dropdownContent$ | async)"></app-loader> -->
<div class="nav-container" *ngIf="dropdownContent$ | async as dropdownContent">
  <div class="products-container">
    <div class="product-content" *ngFor="let item of dropdownContent['items'][0]['fields']['productsNavBar']">
      <img [src]="'https:' + item['fields']['media']['fields']['file']['url']" alt="" class="rectangle">
      <div class="name-description">
        <a
          class="router-link"
          *ngIf="item.fields.hasRoute"
          [routerLink]="item.fields.route"
        >
          <h4 class="mia-h4">
            {{ item["fields"]["name"] }}
          </h4>
          <p class="mia-p">
            {{ item["fields"]["description"] }}
          </p>
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="service-container">
    <div class="service-title">
      <p class="mia-p">
        Services
      </p>
    </div>
    <div class="solution-list">
      <div class="name-Description" *ngFor="let item of dropdownContent['items'][0]['fields']['productNavBarServices']; let i = index">
        <a
          class="router-link"
          *ngIf="item.fields.hasRoute"
          [routerLink]="item.fields.route"
        >
          <h4 class="mia-h4">
            {{ item["fields"]["name"] }}
          </h4>
          <p class="mia-p">
            {{ item["fields"]["description"] }}
          </p>
        </a>
      </div>
      <div class="next-solution">
        <p class="mia-p">
          Service {{ dropdownContent['items'][0]['fields']['productNavBarServices'].length + 1 }}
        </p>
      </div>
    </div>
  </div> -->
</div>
