<!-- UNCOMMENT YOUR COMPONENTS HERE TO TEST THEM -->
<!-- <p>Uncomment the components in the HTML file to display them.</p> -->

<!-- DANIEL -->
<!-- WEEK 1 : DANIEL -->
<!-- <app-loading-spinner></app-loading-spinner> -->
<!-- <app-media-banner></app-media-banner>
<app-popular-sayings></app-popular-sayings>
<app-official-pictures></app-official-pictures>
<app-contact-info></app-contact-info>
<app-books></app-books>
<app-quote-banner></app-quote-banner>
<app-client-reviews></app-client-reviews>
<app-footer></app-footer> -->

<!-- WEEK 2 : DANIEL -->
<!-- <app-contact-banner></app-contact-banner>
<app-ggnetwork></app-ggnetwork>
<app-recent-media></app-recent-media>
<app-featured-book></app-featured-book> -->

<!-- WEEK 3 : DANIEL -->
<!-- <app-hero-banner></app-hero-banner> -->
<!-- <app-contact-form></app-contact-form> -->

<!-- WEEK 4 : DANIEL -->
<!-- <app-price-cards></app-price-cards> -->

<!-- WEEK 5 : DANIEL -->
<!-- <app-blogs-page></app-blogs-page> -->
<!-- <app-blog-page></app-blog-page> -->
<!-- <app-latest-blogs></app-latest-blogs> -->
<!-- <app-blog-article></app-blog-article> -->
<!-- test blog id: 2rXglE0XRuIL3ELO2jF2Pd -->
<!-- <app-blog-comments></app-blog-comments> -->
<!-- <app-ddcllc-tabs></app-ddcllc-tabs> -->

<!-- PAGES -->
<app-nav-bar-desktop></app-nav-bar-desktop>
<app-nav-bar-mobile></app-nav-bar-mobile>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- PHILLIP -->
<!-- <app-certifications-accomplishments></app-certifications-accomplishments>
<app-recent-clients></app-recent-clients>
<app-you-tube-section></app-you-tube-section>
<app-podcast></app-podcast>
<app-social-media></app-social-media>
<app-time-picker></app-time-picker>
<app-organization-location></app-organization-location>
<app-ddcllc-speaking-form></app-ddcllc-speaking-form>
<app-coaching-form></app-coaching-form>
<app-ddcllc-training-form></app-ddcllc-training-form>
<br><br><br><br><br><br><br><br>
<app-recent-clients></app-recent-clients>  -->

