@import '/src/styles.scss';

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 900;
    position: fixed;
    width: calc(100vw - 2rem);

    padding: 0.5rem 1rem;
    background-color: $dd-white;
    border-top: 0.5rem solid $dd-pale-orange;
}

.nav-link {
    @extend .dd-h2;
    text-decoration: none;
    &.active-link { color: $dd-red; }
}

.logo {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: contain;
}

.navbar-toggler {
    align-self: center;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: $dd-floral-white;
}

.nav-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $dd-white;

    
    height: 0;
    overflow: hidden;
    .nav-link { opacity: 0; }
    transition: all 0.3s ease-out;

    &.open {
        height: calc(100svh - 7.75rem);
        padding-top: 1rem;
        padding-bottom: 1rem;
        .nav-link { opacity: 1; }
    }
}

@media screen and (min-width: 970px) {
    .nav-container { display: none; }
}