@import '/src/styles.scss';
@import '../../pages/blogs-page/blogs-page.component.scss';

.page-col {
    gap: 0;
    padding-bottom: 5rem;
    border-bottom: 1px solid #D9D9D9;
}

.blog-info {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.tag-list { margin-top: 1rem; }

.blog-image { margin-top: 2rem; }

.blog-article {
    margin-top: 2rem;
    width: 65.68%;
}

::ng-deep markdown {
    h1 { @extend .dd-h2; }
    h2 { @extend .dd-h3; }
    h3 { @extend .dd-h4; }
    h1, h2, h3 { text-align: left; }
}

/*-------------------MEDIA QUERIES-------------------*/
@media screen and (max-width: $mobile-width) {
    .blog-article {  width: 83.33%; }
}