<div class="inner-section">
    <p class="dd-p" id="instruction">Kindly fill out the details below.</p>
    <form>
        <!-- FIRST & LAST NAME -->
        <div class="input-group">
            <p class="form-label">Name</p>
            <div class="form-2col-grid">
                <div>
                    <input class="form-input" type="text" id="firstName" name="firstName" placeholder="First Name" required [(ngModel)]="firstName" #firstNameInput="ngModel" [ngClass]="{'is-invalid': firstNameInput.invalid && firstNameInput.touched}" />
                    <div *ngIf="firstNameInput.invalid && firstNameInput.touched" class="error-message">First Name shouldn't be empty</div>
                </div>
                <div>
                    <input class="form-input" type="text" id="lastName" name="lastName" placeholder="Last Name" required [(ngModel)]="lastName" #lastNameInput="ngModel" [ngClass]="{'is-invalid': lastNameInput.invalid && lastNameInput.touched}" />
                    <div *ngIf="lastNameInput.invalid && lastNameInput.touched" class="error-message">Last Name shouldn't be empty</div>
                </div>
            </div>
        </div>
        <!-- EMAIL & PHONE NUMBER -->
        <div class="input-group">
            <p class="form-label">Contact Details</p>
            <div class="form-2col-grid">
                <div>
                    <input class="form-input" type="email" id="email" name="email" placeholder="Email Address" required [(ngModel)]="email" #emailInput="ngModel" [ngClass]="{'is-invalid': emailInput.invalid && emailInput.touched}" />
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">Email Address shouldn't be empty</div>
                </div>
                <div>
                    <input class="form-input" type="tel" id="phone" name="phone" placeholder="Phone Number" required [(ngModel)]="phone" #phoneInput="ngModel" [ngClass]="{'is-invalid': phoneInput.invalid && phoneInput.touched}" />
                    <div *ngIf="phoneInput.invalid && phoneInput.touched" class="error-message">Phone Number shouldn't be empty</div>
                </div>
            </div>
        </div>
        <!-- ORGANIZATION INFORMATION -->
        <div class="input-group">
            <p class="form-label">Organization Information</p>
            <app-organization-location 
                (errorMessageEmitter)="handleOrganizationLocationError($event)">
            </app-organization-location>
            <div *ngIf="organizationLocationError" class="error-message">{{ organizationLocationError }}</div>
        </div>
        <!-- RESERVATIONS -->
        <div class="input-group">
            <!-- TIME AND DATE PICKER GOES IN HERE -->
            <p class="form-label">Reservations</p>
            <app-time-picker></app-time-picker>
        </div>
        <!-- WEBSITE -->
        <div class="input-group">
            <p class="form-label">Topic</p>
            <input class="form-input" type="text" id="Website" name="Website" placeholder="Type in your topic of discussion here" required [(ngModel)]="topic" #topicInput="ngModel"/>
            <div *ngIf="topicInput.invalid && topicInput.touched" class="error-message">Please type in a topic of discussion</div>
        </div>
        <!-- SOCIAL MEDIA HANDLE -->
        <div class="input-group">
            <p class="form-label">Social Media Handle</p>
            <app-social-media (errorMessageEmitter)="handleSocialMediaError($event)"></app-social-media>
            <div *ngIf="socialMediaError" class="error-message">{{ socialMediaError }}</div>
        </div>
        <!-- ADDITIONAL INFORMATION -->
        <div class="input-group">
            <p class="form-label">Additional Information</p>
            <textarea class="form-input" type="text" id="summary" name="summary" placeholder="Type in additional information" required></textarea>
        </div>
        <!-- PRIVACY CHECKBOX -->
        <div class="privacy-policy" [ngClass]="{'is-invalid': policyInput.invalid && policyInput.touched}">
            <input class="css-checkbox" type="checkbox" id="privacyPolicy" name="privacyPolicy" required [(ngModel)]="policyCheckbox" #policyInput="ngModel"/>
            <label for="privacyPolicy"><span class="checkbox-text form-label">I have read and agree to the Privacy Policy.</span></label>
        </div>
        <!-- SUBMIT BUTTON -->
        <button class="dd-btn-fill" type="submit">Send</button>
    </form>
</div>


